<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.stelaino.rg.mapper.StatisticsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.stelaino.rg.entity.Statistics">
        <result column="id" property="id" />
        <result column="createTime" property="createTime" />
        <result column="modifyTime" property="modifyTime" />
        <result column="infectSource" property="infectSource" />
        <result column="passWay" property="passWay" />
        <result column="imgUrl" property="imgUrl" />
        <result column="dailyPic" property="dailyPic" />
        <result column="summary" property="summary" />
        <result column="deleted" property="deleted" />
        <result column="countRemark" property="countRemark" />
        <result column="virus" property="virus" />
        <result column="remark1" property="remark1" />
        <result column="remark2" property="remark2" />
        <result column="remark3" property="remark3" />
        <result column="remark4" property="remark4" />
        <result column="remark5" property="remark5" />
        <result column="generalRemark" property="generalRemark" />
        <result column="confirmedCount" property="confirmedCount" />
        <result column="suspectedCount" property="suspectedCount" />
        <result column="curedCount" property="curedCount" />
        <result column="deadCount" property="deadCount" />
        <result column="seriousCount" property="seriousCount" />
        <result column="suspectedIncr" property="suspectedIncr" />
        <result column="confirmedIncr" property="confirmedIncr" />
        <result column="curedIncr" property="curedIncr" />
        <result column="deadIncr" property="deadIncr" />
        <result column="seriousIncr" property="seriousIncr" />
        <result column="currentConfirmedCount" property="currentConfirmedCount" />
        <result column="currentConfirmedIncr" property="currentConfirmedIncr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, createTime, modifyTime, infectSource, passWay, imgUrl, dailyPic, summary, deleted, countRemark, virus, remark1, remark2, remark3, remark4, remark5, generalRemark, confirmedCount, suspectedCount, curedCount, deadCount, seriousCount, suspectedIncr, confirmedIncr, curedIncr, deadIncr, seriousIncr, currentConfirmedCount, currentConfirmedIncr
    </sql>

</mapper>
